.AutoSuggest {
  width: 100%;
  position: relative;
  color: #1a1a1a;
}

.AutoSuggest__input {
  width: 100%;
  height: 44px;
  line-height: 24px;
  padding: 8px 8px 8px 32px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 14px;
}

.AutoSuggest__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 8px;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
}

.AutoSuggest__icon svg {
  width: 100%;
  height: auto;
  fill: #333333;
}

.AutoSuggest__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  padding: 0;
  margin: 0;
  border: 1px solid #1a1a1a;
  border-radius: 4px;
}

.AutoSuggest__noResults {
  padding: 8px;
}

.AutoSuggest__loader {
  width: 24px;
  height: 24px;
  position: absolute;
  background: #fff;
  right: 8px;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
}
